body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 5px blueviolet;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #e6e7e9;
    color: #405b48;
    border-left: 6px solid #182d2e;
    border-right: 6px solid #182d2e;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    transition: background-color 2s ease-out 100ms
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

div:hover {
  background-color: grey;
}


.border-blue {
    border: 1px dotted blue;
    display: 
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

